/* Root */
@font-face {
    font-family: 'MADE Tommy Soft';
    src: url('fonts/MADE_Tommy_Soft_Regular.otf') format('truetype');
    /* Ajusta la ruta según tu estructura de carpetas */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MADE Tommy Soft', sans-serif;
    /* Utiliza el nombre que especificaste en font-family */
}

/* Navbar */
.navbar {
    background: rgb(24, 36, 107);
    background: linear-gradient(90deg, rgba(24, 36, 107, 0.8313376375941002) 35%, rgba(24, 36, 107, 0.8313376375941002) 35%);
    height: 85px;
    margin: 20px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.27);
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500px;
    color: #6DDB56;
    font-size: 24px;
    transition: 0.3s color;

}

.contactus-button {
    background-color: #6DDB56;
    color: #fff;
    font-size: 14px;
    padding: 8px 13px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.contactus-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #fff;
    font-weight: 700;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #9BE7FA;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #9BE7FA;
}

.nav-link:visited {
    color: #fff;
}

@media (max-width: 992px) {

    .offcanvas {
        background: rgb(24, 36, 107);
        background: linear-gradient(90deg, rgba(24, 36, 107, 1) 35%, rgba(24, 36, 107, 1) 100%);
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }

    .navbar {
        padding-top: 0px;
    }

    .navbar-brand {
        padding-top: 1px;
    }

    .nav-link:hover {
        color: #9BE7FA;
    }

}

@media (min-width: 991px) {

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #9BE7FA;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }


}

/* Imagenes */

.card-title {
    font-size: 36px;
}

.card-img-top,
.img-thumbnail img {
    object-fit: cover;
    object-position: 15%;
    /* Centra el contenido de la imagen */
    height: 300px;
    /* Ajusta la altura como desees */
}

.img-thumbnail {
    width: 150px;
    height: 150px;
    border-style: none;
}

/* Estilo para las viñetas */
.custom-list {
    list-style-type: none;
    padding-left: 20px;
    /* Espacio entre el borde de la viñeta y el texto */
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}

.custom-list li {
    position: relative;
    padding-left: 20px;
    /* Espacio entre el borde de la viñeta y el contenido del ítem */
    margin-bottom: 10px;
    /* Espacio entre los ítems de la lista */
}

.custom-list li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 12px;
    /* Diámetro de la viñeta */
    height: 12px;
    /* Diámetro de la viñeta */
    background-color: #6DDB56;
    /* Color de fondo de la viñeta */
    border-radius: 50%;
    /* Hace la viñeta redonda */
}

.icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-background {
    background-color: #6DDB56;
    /* Color de fondo del icono */
    border-radius: 50%;
    /* Hace el icono redondo */
    padding: 8px;
    /* Añade espacio alrededor del icono */
    color: white;
    /* Cambia el color del icono a blanco */
    width: 35px;
    /* Ancho igual a la altura para asegurar que sea un círculo */
    height: 35px;
    /* Altura igual al ancho para asegurar que sea un círculo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-text .text-wrapper {
    flex-grow: 1;
    padding-left: 10px;
    /* Añade espacio entre el icono y el texto */
}

/* Cards Pricing */

.span-styled {
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2px 25px;
    margin: 10px -26px;
    width: 160px;
    font-weight: 700;
}

.overlay {
    position: relative;
    background-color: #fff;
    color: black;
    padding: 15px 0 15px 15px;
    /* margin-top: 0px; */
    border-radius: 10px;
    width: 450px;
    height: 250px;
    translate: -25% 0;
}

.left-column,
.right-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay-logo {
    width: 100%;
    /* Ajusta el ancho del logo según sea necesario */
    height: 40px;
    /* Ajusta la altura del logo según sea necesario */
    margin-bottom: 10px;
}

.overlay-image {
    width: 100%;
    height: auto;
}

/* Estilos para tamaños de pantalla grandes (por defecto) */
.card {
    max-width: 999px;
    border-radius: 0;
    border-style: unset;
}

.span-customize {
    padding-bottom: 40px
}

/* Media query para dispositivos de tamaño medio (tabletas, por ejemplo) */
@media (max-width: 992px) {

    .card-title {
        font-size: 32px;
    }

    .card {
        max-width: 825px;
    }

    .overlay {
        width: 350px;
        /* Modificar el ancho para dispositivos de tamaño pequeño */
        /* height: 150px; */
        /* Modificar el alto para dispositivos de tamaño pequeño */
        translate: -55px 0;
    }

    .swiper-navBtn {
        display: none;
    }
}

/* Media query para dispositivos de tamaño pequeño (teléfonos, por ejemplo) */
@media (max-width: 520px) {

    .card-title{
        font-size: 39px;
    }

    .card {
        max-width: 725px;
    }

    .overlay {
        width: 350px;
        /* Modificar el ancho para dispositivos de tamaño pequeño */
        height: 200px;
        /* Modificar el alto para dispositivos de tamaño pequeño */
        translate: -55px 0;
    }

    .overlay .span-customize {
        padding-bottom: 15px;
    }

    .swiper-navBtn {
        display: none;
    }
}

/* Footer */
.custom-list-footer,
.custom-list-footer li {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer:after {
    display: block;
    clear: both;
    content: "";
}

footer a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

footer a:hover {
    color: #9BE7FA;
}

footer ol,
footer ul {
    padding-left: 0.5rem;
}

.bgc-black {
    background: rgb(24, 36, 107);
}

.bgc-gradient {
    background: linear-gradient(90deg, rgba(24, 36, 107, 0.8313376375941002) 35%, rgba(24, 36, 107, 0.8313376375941002) 35%);
}

.color-primary {
    color: rgb(24, 36, 107);
}

.footer-area .widget-title {
    font-size: 22px;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.footer-area .widget-title:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 30px;
    bottom: 0;
    left: 0;
    background: #9BE7FA;
}

.footer-area .widget {
    margin-bottom: 50px;
}

.footer-area .widget .title {
    font-size: 22px;
}

.footer-area.text-white a,
.footer-area.text-white p {
    opacity: 0.8;
    font-size: 15px;
}

.footer-area.text-white a:hover {
    opacity: 1;
}

.footer-area .more-info .number {
    font-size: 20px;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;
}

.footer-area .more-info .number:not(:hover) {
    color: #9BE7FA;
}

.footer-area .widget_nav_menu li:not(:last-child) {
    margin-bottom: 8px;
}

.footer-area .widget_nav_menu li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-area .widget_nav_menu li a:before {
    content: '';
    width: 7px;
    height: 7px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 2px;
    margin-right: 13px;
    border-radius: 50%;
    background: #000;
}

.footer-area .widget_nav_menu li a:hover:before {
    background: #9BE7FA;
}

.footer-area li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.5;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-area li:not(:last-child) {
    margin-bottom: 22px;
}

.footer-area li .icon {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    font-size: 20px;
    padding-top: 3px;
    padding-right: 1px;
    margin-right: 15px;
    width: 42px;
    height: 42px;
    background: #9BE7FA;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
}

.footer-area li .icon i {
    color: #fff;
}

.footer-area li .content span {
    font-size: 15px;
    display: block;
    opacity: 0.5;
}

.footer-area li .content b,
.footer-area li .content b a {
    opacity: 1;
    font-size: 18px;
    font-weight: 500;
}

.footer-area .footer-bottom {
    text-align: center;

    padding-bottom: 10px;
}

.footer-area .footer-bottom p {
    margin: 0;
}

.social-style-one {
    font-size: 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.social-style-one a {
    opacity: 0.8;
    color: #fff;
    width: 42px;
    height: 42px;
    background: rgba(255, 255, 255, 0.1);
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    align-content: center;
    padding-top: 3px;
}

.social-style-one a:hover {
    opacity: 1;
    color: #fff;
}

.social-style-one a:not(:first-child) {
    margin-left: 5px;
}

.social-style-one a:not(:last-child) {
    margin-right: 5px;
}

.social-style-one a:nth-child(1):hover {
    background-color: #1877F2;
    /* Primer enlace */
}

.social-style-one a:nth-child(2):hover {
    background-color: #000;
    /* Segundo enlace */
}

.social-style-one a:nth-child(3):hover {
    background-color: #BC2A8D;
    /* Tercer enlace */
}

.social-style-one a:nth-child(4):hover {
    background-color: #FF0000;
    /* Cuarto enlace */
}

/* Testimonials */

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card-testimonial {

    border-radius: 25px;
    background-color: #efefef;
    /* border: 1px solid #1877F2; */
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay-testimonial {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #1877F2;
    border-radius: 25px 25px 0 25px;
}

.overlay-testimonial::before,
.overlay-testimonial::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #1877F2;
}

.overlay-testimonial::after {
    border-radius: 0 25px 0 0;
    background-color: #efefef;
}

.card-image {
    position: relative;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background: #fff;
    padding: 5px;

}

.card-image .card-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #1877F2;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #000;
    text-align: justify;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 20px;
    background-color: #ff4d4d; /* Rojo principal */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    outline: none;
}

.button i{
    padding-top: 8px;
}

.button:hover,
.button:focus {
    background-color: #ff6666; /* Rojo más claro al pasar el mouse o enfocar */
}

.button:active {
    transform: scale(0.95);
    background-color: #e60000; /* Rojo más oscuro al hacer clic */
}

.swiper-navBtn {
    color: #1877F2;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #9BE7FA;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #1877F2;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #18246B;
}